@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Merriweather", serif;
}

/* banner section style here */
.banner-container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 20px;
  height: 600px;
  background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;

}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;
}

.banner-content {
  color: white;
}

.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-content p {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

/* 65% section style here  */

.second-section-container {
  max-width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.second-section-content h1 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;

}

.second-section-content p {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
}

.second-section-content h3 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
}

.image-container {
  width: 802.9px;
  height: 500px;
}

.image-container img {
  width: 100%;
  height: 100%;
  background: url(happy-new-year-3d-letters-sign-coloful-background-blurred-fireworks-2024-new-year-party);
}

/* midnight section style here  */
.midnight-party-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../images/party.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.leftside-content {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.rightside-content {
  width: 50%;
  height: 600px;
  background-image: url("../images/y-24.png");
  background-repeat: no-repeat;
  background-position: center;

}



.leftside-content h1 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
}

.leftside-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

#midnight-btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 80px;
}

/* deadline section start here  */
.deadline-container {
  width: 1320px;
  height: 482px;
  /* border: 2px solid green; */
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  /* margin-bottom: 120px; */
}

.deadline-content {
  color: rgb(7, 2, 17);
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.deadline-content-color {
  color: rgb(255, 0, 0);
}

.deadline-container button {
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  border: none;
  margin-top: 48px;

  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* best offer styles start here  */
.best-offer-content {
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}

.best-offer-title h4 {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  /* text-align: center; */
}

.best-offer-title h1 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.best-offer-title p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.best-offer-content img {
  border-radius: 2px solid red;
  /* padding: 100px; */
}

.best-offer-text h1 {
  color: rgb(255, 0, 0);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
}

.best-offer-text p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.best-offer-text img {
  margin-top: 60px;
}

.best-offer-pic img {
  /* box-sizing: border-box; */
  border: 15px solid rgb(255, 0, 0);
  padding: 30px;
  background: url(friends-enjoying-rooftop-party);
  border-radius: 50%;
}
/* holiday sale section star here  */
.holiday-sale-container {
  width: 1068px;
  height: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 65px;
}

.holiday-sale-title h4 {
  color: rgb(7, 2, 17);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.holiday-sale-title h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
}

#holiday-color {
  color: rgb(255, 0, 0);
}

.holiday-sale-title p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}